Repository zitadel/zitadel, pull requests merged in 2022-11, with the labels that each got.

#4645 docs(self-hosted): describe production setup
  cmd/defaults.yaml
  docs/docs/guides/deploy/overview.mdx
  docs/docs/guides/manage/self-hosted/configure/docker-compose.yaml
  docs/docs/guides/manage/self-hosted/configure/example-zitadel-secrets.yaml
  docs/docs/guides/manage/self-hosted/database/_cockroachdb.mdx
  docs/docs/guides/manage/self-hosted/http2.mdx
  docs/docs/guides/manage/self-hosted/production.md
  docs/docs/guides/manage/self-hosted/proxy/_more.mdx
  docs/docs/guides/manage/self-hosted/proxy/proxy.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/_caddy.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/_cloudflare.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/_cloudflare_tunnel.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/_more.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/_nginx.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/_traefik.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/_zitadel_cloud.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/reverse_proxy.mdx
  docs/sidebars.js
Labels: category: docs, type: enhancement

#4657 docs(proxy): add Apache httpd example
  docs/docs/guides/manage/self-hosted/production.md
  docs/docs/guides/manage/self-hosted/reverseproxy/_caddy.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/_httpd.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/_nginx.mdx
  docs/docs/guides/manage/self-hosted/reverseproxy/reverse_proxy.mdx
Labels: category: docs, type: enhancement

#4640 docs(deploy): make lb example idempotent
  docs/docs/guides/deploy/loadbalancing-example/docker-compose.yaml
Labels: category: docs

#4678 feat(cmd): add version flag
  cmd/zitadel.go
Labels: category: backend, type: feature, effort: 1

#4654 fix: delete limit of login policy query for idp links list
  console/src/app/modules/idp-table/idp-table.component.ts
  internal/query/login_policy.go
  internal/query/login_policy_test.go
Labels: lang: go, category: backend, type: fix

#4701 fix: update saml dependency v0.0.8=>v0.0.9
  go.mod
  go.sum
Labels: dependencies, lang: go, category: backend, type: fix

#3899 chore(linting): add golang-ci lint config
  .github/workflows/test-code.yml
  .golangci.yaml
  CONTRIBUTING.md
Labels: lang: go, category: backend, priority: medium

#4754 docs(self-hosted): fix link to default steps.yaml
  docs/docs/guides/manage/self-hosted/configure/configure.mdx
Labels: type: bug, category: docs

#4748 docs(self-hosted): improve production checklist
  docs/docs/guides/manage/self-hosted/production.md
Labels: category: docs, type: enhancement

#4709 docs(action): specify docs
  docs/docs/apis/actions.md
  docs/docs/apis/actions/introduction.md
  docs/docs/apis/actions/login-flow.md
  docs/docs/apis/actions/modules.md
  docs/docs/apis/actions/objects.md
  docs/docs/apis/actions/register-flow.md
  docs/docs/concepts/features/actions.md
  docs/docs/guides/manage/customize/behavior.md
  docs/sidebars.js
Labels: category: docs, state: in progress, effort: 2
