Repository zitadel/zitadel, pull requests merged in 2025-07, with the labels that each got.

#10018 docs(api): add new beta services to api reference
  docs/docs/apis/migration_v1_to_v2.mdx
  docs/sidebars.js
Labels: v2 API

#10263 fix(saml): Push AuthenticationSucceededOnApplication milestone for SAML sessions
  internal/command/milestone.go
  internal/command/milestone_test.go
  internal/command/saml_session.go
  internal/command/saml_session_test.go
Labels: bug, auth, analytics, service-layer

#10295 docs: corrected the links for the client-libraries from the instroduction page
  docs/frameworks.json
Labels: docs
