Repository zitadel/zitadel, pull requests merged in 2025-09, with the labels that each got.

#10588 fix(console): Timestamp to date Pipe type coercion
  console/src/app/modules/personal-access-tokens/personal-access-tokens.component.html
  console/src/app/modules/personal-access-tokens/personal-access-tokens.component.ts
  console/src/app/modules/personal-access-tokens/personal-access-tokens.module.ts
  console/src/app/pipes/timestamp-to-date-pipe/timestamp-to-date.pipe.ts
Labels: bug, console, presentation-layer

#10425 fix: correct river otel metrics units
  internal/queue/queue.go
Labels: os-contribution

#10612 fix(console): Improve default org selection method in new breadcrumbs
  console/package.json
  console/src/app/modules/new-header/organization-selector/organization-selector.component.ts
  packages/zitadel-client/README.md
  pnpm-lock.yaml
Labels: bug, console, presentation-layer

#10615 feat(console): Display relational table feature flag
  console/src/app/components/features/features.component.ts
  console/src/assets/i18n/bg.json
  console/src/assets/i18n/cs.json
  console/src/assets/i18n/de.json
  console/src/assets/i18n/en.json
  console/src/assets/i18n/es.json
  console/src/assets/i18n/fr.json
  console/src/assets/i18n/hu.json
  console/src/assets/i18n/id.json
  console/src/assets/i18n/it.json
  console/src/assets/i18n/ja.json
  console/src/assets/i18n/ko.json
  console/src/assets/i18n/mk.json
  console/src/assets/i18n/nl.json
  console/src/assets/i18n/pl.json
  console/src/assets/i18n/pt.json
  console/src/assets/i18n/ro.json
  console/src/assets/i18n/ru.json
  console/src/assets/i18n/sv.json
  console/src/assets/i18n/tr.json
  console/src/assets/i18n/zh.json
Labels: enhancement, console, presentation-layer

#10620 docs: Warn users of Zitadel 4 install incompatibility with Linux
  docs/docs/self-hosting/deploy/linux.mdx
Labels: os-contribution

#10586 fix(console): Display MFA Name and Type correctly
  console/src/app/pages/users/user-detail/auth-user-detail/auth-user-mfa/auth-user-mfa.component.html
  console/src/app/pages/users/user-detail/auth-user-detail/auth-user-mfa/auth-user-mfa.component.ts
  console/src/app/pages/users/user-detail/user-detail.module.ts
Labels: bug, console, presentation-layer

#10583 fix(console): Add login v2 url to identity providers
  console/src/app/components/copy-row/copy-row.component.html
  console/src/app/components/copy-row/copy-row.component.ts
  console/src/app/modules/card/card.component.html
  console/src/app/modules/card/card.component.scss
  console/src/app/modules/card/card.component.ts
  console/src/app/modules/info-section/info-section.component.html
  console/src/app/modules/info-section/info-section.component.scss
  console/src/app/modules/info-section/info-section.component.ts
  console/src/app/modules/providers/provider-apple/provider-apple.component.ts
  console/src/app/modules/providers/provider-next/provider-next.component.ts
  console/src/app/modules/providers/provider-next/provider-next.service.ts
  console/src/app/modules/providers/provider-saml-sp/provider-saml-sp.component.html
  console/src/app/pages/org-create/org-create.component.ts
  docs/docs/guides/integrate/identity-providers/linkedin_oauth.mdx
Labels: docs, enhancement, console, presentation-layer

#10503 docs: fix import in response manipulation example
  docs/docs/guides/integrate/actions/testing-request-manipulation.md
  docs/docs/guides/integrate/actions/testing-response-manipulation.md
Labels: os-contribution

#9861 feat(oidc): Added new claim in userinfo response to return all requested audience roles
  docs/docs/apis/openidoauth/claims.md
  internal/api/oidc/client.go
  internal/api/oidc/integration_test/userinfo_project_roles_test.go
  internal/api/oidc/integration_test/userinfo_test.go
  internal/api/oidc/userinfo.go
  internal/domain/request.go
Labels: help wanted, os-contribution
